@import "@mixins";

.button {
  @include content-center;
  @include base-font;

  max-width: 400px;
  min-width: fit-content;
  height: 48px;
  line-height: 46px;
  flex: 1;

  border-radius: var(--border-radius-lg);

  font-size: 16px;
  font-weight: 500;

  &_primary {
    background-color: var(--color-blue);
    color: var(--color-white);
  }

  &_bordered {
    border: var(--border-width) solid var(--color-grey-300);
    color: var(--color-black);
  }

  &_small {
    border-radius: var(--border-radius-md);
  }
}
