@import "@mixins";

.input {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__label {
    @include base-font;
    font-weight: 500;
    font-style: 15px;
  }

  &__field {
    @include content-center;
    @include base-font;
    font-weight: 400;
    font-size: 15px;

    flex: 1;
    height: 44px;
    line-height: 44px;
    box-sizing: border-box;
    padding-inline: 15px;

    border-radius: var(--border-radius-lg);
    border: var(--border-width) solid var(--color-grey-300);
    color: var(--color-grey-800);

    &::placeholder {
      color: var(--color-grey-500);
    }
  }
}
